@import '../vars/colors.scss';
@import '../typography/typography.scss';

.button-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
  padding: 0;
  column-gap: 0;
  z-index: 3;
}

button,
.btn {
  border-radius: 12px;
  height: min-content;
  padding: 15px 30px;
  text-decoration: none;
  width: auto;
  border: 1px solid transparent;
  color: $white;
  text-transform: uppercase;
  font-size: 1.4vw;
  font-family: $font-primary;
  font-weight: 800;
  cursor: pointer;

  &.btn-primary {
    background-color: $button-primary;
    padding: 20px;
    border-radius: 12px;
  }

  &.btn-secondary {
    background-color: $button-secondary;
    padding: 20px;
    border-radius: 12px;
  }

  &.btn-outline {
    background-color: transparent;
    border: 1px solid $button-primary;
    padding: 20px;
    border-radius: 12px;
  }

  &.btn-gradient {
    background: linear-gradient(
      315deg,
      rgb(153, 0, 255, 0.5) 0%,
      rgb(2, 136, 255, 0.5) 100%
    );
    box-shadow: 0 0 0 transparent;

    &:hover {
      border: 1px solid $button-primary;
      background: linear-gradient(
        315deg,
        rgb(153, 0, 255, 0.7) 0%,
        rgb(2, 136, 255, 0.7) 100%
      );
    }
  }
}