// src/styles/vars/colors.scss
// Colors


@import 'variables.scss';
// Use this to declare your site colours //

//Page colours
$main-page-bg: $off-white;

//Text
$primary-text: $black;
$on-black-text: $white;

//Headers
$hero-h1: $off-white;

//Buttons
$button-primary: blue;
$button-secondary: red;
