// Base
// @import "base/*";

// Variables
// @import "vars/colors.scss";
@import 'vars/variables.scss';

// Fonts & General Type Styling
@import 'typography/typography.scss';

// Components
@import 'components/ambientbg.scss';
@import 'components/buttons.scss';
@import 'components/header.scss';

// Layout
@import 'layout/layout.scss';

//pages
@import 'pages/about-us.scss';

// 3rd Party Addons
// @import "plugins/*";
