@font-face {
  font-family: 'Rain';
  src: url('/fonts/rain.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans-VariableFont_wght.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}