@font-face {
  font-family: 'Rain';
  src: url('/fonts/rain.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rain';
  src: url('/fonts/rainit.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
